@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffff33;
}

body {
  font-family: "Poppins", "Helvetica Neue", "SF Pro Text", "SF Pro Icons",
    "Helvetica", "Arial", sans-serif;
  background-color: #002642;
  color: #f1f5f9;
}
